@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zeyada&display=swap');

:root{
    --fonte-texto: montserrat;
    --fonte-titulo: bebas neue;
    --fonte-assinatura: zeyada;

    --branco: white;
    --preto: black;
    --vermelho: #e53939;
}

/*MENU*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: fixed;
    width: 97%;
    padding: 1% 2%;
    margin: -1.5rem;

   background-color: rgba(230, 230, 230, 0.7);
   backdrop-filter: blur(10px);
}

.menu__link{
    font-family: var(--fonte-titulo);
    color: var(--vermelho);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}